Options -MultiViews
Options -Indexes
RewriteEngine On

RewriteBase /mvc/lifechanger/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]